# AirBnB NY Locations Data Case Study

Your task will be to take the data provided and find evidence to answer the following questions.

1. Which hosts are the busiest and why?
2. How many neighborhood groups are available and which shows up the most?
3. Are private rooms the most popular in manhattan?
4. Which hosts are the busiest and based on their reviews?
5. Which neighorhood group has the highest average price?
6. Which neighborhood group has the highest total price?
7. Which top 5 hosts have the highest total price?
8. Who currently has no (zero) availability with a review count of 100 or more?
9. What host has the highest total of prices and where are they located?
10. When did Danielle from Queens last receive a review?

This is to simulate what you will face when you are out in the wild. 

Happy Coding!

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
air_bnb = pd.read_csv('./AB_NYC_2019.csv')
air_bnb.head()

In [ ]:
# How many neighborhood groups are available and which shows up the most?

print(air_bnb['neighbourhood_group'].unique())
len(air_bnb['neighbourhood_group'].unique())
print(air_bnb.groupby('neighbourhood_group')['id'].nunique())
max(air_bnb.groupby('neighbourhood_group')['id'].nunique())


#Answer: 5 total, Manhattan is the most common at 21661 times.

# print(air_bnb.neighbourhood_group.nunique())

# increment=0
# boroughs = {}

# for idx,i in enumerate(air_bnb['neighbourhood_group'].unique()):
#     boroughs[idx] = i

# boroughs
# while increment < len(air_bnb['neighbourhood_group'].unique()):
#     for borough in air_bnb['neighbourhood_group'].unique():
#         air_bnb['neighbourhood_group'][air_bnb[f'{borough}']].sum()
#         increment += 1




# air_bnb['neighbourhood_group'][air_bnb['neighbourhood_group'].unique()[0]]

# max = air_bnb.iloc[air_bnb.groupby(['neighbourhood_group']).apply(lambda x: x.idxmax())]
# max

In [ ]:
# Are private rooms the most popular in manhattan?

print(air_bnb['room_type'].unique())
len(air_bnb['room_type'].unique())
print(air_bnb.groupby('room_type')['id'].nunique())
max(air_bnb.groupby('room_type')['id'].nunique())

#Answer: No, Entire home/apt are the most popular.

In [ ]:
# Which hosts are the busiest and based on their reviews?


df_new = air_bnb[["host_id","reviews_per_month"]].dropna()

df_new = df_new.groupby('reviews_per_month')

max(df_new)

#Answer is host_id #42075 with reviews_per_month of 58.5

In [ ]:
#Which neighorhood group has the highest average price?

df_average = air_bnb[["neighbourhood_group","price"]]

df_new = air_bnb["neighbourhood_group"].unique()


df_average_price = (df_average.groupby("neighbourhood_group").price.apply(lambda g: g.sum()))
df_newer = df_average[0:0]

for idx, i in enumerate(df_average_price):
    df_newer.loc[idx] = [df_new[idx], i]

for idx, i in enumerate(df_average.groupby("neighbourhood_group").size()):
    df_newer.loc[idx, "Count"] = i
    df_newer.loc[idx, "Highest_Average"] = df_newer.loc[idx, "price"] / df_newer.loc[idx, "Count"]


df_newer.head()
# max(df_newer["Highest_Average"])

# Answer: Queens has the highest average price

In [ ]:
# Which neighbor hood group has the highest total price?

#Answer see above, Queens

In [ ]:
#Which top 5 hosts have the highest total price?

df_newer_total = air_bnb[["host_name","price"]]


# df_average = air_bnb[["neighbourhood_group","price"]]

# df_new = air_bnb["neighbourhood_group"].unique()

df_new_total = air_bnb["host_name"].unique()


# df_average_price = (df_average.groupby("neighbourhood_group").price.apply(lambda g: g.sum()))
# df_newer = df_average[0:0]

df_newer_total_price = (df_newer_total.groupby("host_name").price.apply(lambda g: g.sum()))
df_newest = df_newer_total[0:0]

# for idx, i in enumerate(df_average_price):
#     df_newer.loc[idx] = [df_new[idx], i]

for idx, i in enumerate(df_newer_total_price):
    df_newest.loc[idx] = [df_new_total[idx], i]

# for idx, i in enumerate(df_average.groupby("neighbourhood_group").size()):
#     df_newer.loc[idx, "Count"] = i
#     df_newer.loc[idx, "Highest_Average"] = df_newer.loc[idx, "price"] / df_newer.loc[idx, "Count"]+

for idx, i in enumerate(df_newer_total.groupby("host_name").size()):
    df_newest.loc[idx, "Count"] = i
    df_newest.loc[idx, "Highest_Average"] = df_newest.loc[idx, "price"] / df_newest.loc[idx, "Count"]


df_newest = df_newest.groupby("Highest_Average")

In [43]:
air_bnb

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48890,36484665,Charming one bedroom - newly renovated rowhouse,8232441,Sabrina,Brooklyn,Bedford-Stuyvesant,40.67853,-73.94995,Private room,70,2,0,NaN,NaN,2,9
48891,36485057,Affordable room in Bushwick/East Williamsburg,6570630,Marisol,Brooklyn,Bushwick,40.70184,-73.93317,Private room,40,4,0,NaN,NaN,2,36
48892,36485431,Sunny Studio at Historical Neighborhood,23492952,Ilgar & Aysel,Manhattan,Harlem,40.81475,-73.94867,Entire home/apt,115,10,0,NaN,NaN,1,27
48893,36485609,43rd St. Time Square-cozy single bed,30985759,Taz,Manhattan,Hell's Kitchen,40.75751,-73.99112,Shared room,55,1,0,NaN,NaN,6,2
48894,36487245,Trendy duplex in the very heart of Hell's Kitchen,68119814,Christophe,Manhattan,Hell's Kitchen,40.76404,-73.98933,Private room,90,7,0,NaN,NaN,1,23

In [56]:
# Who currently has no (zero) availability with a review count of 100 or more?
df_avail = air_bnb[["host_name", "number_of_reviews", "availability_365"]]
answer = {}

for idx,i in df_avail["host_name"].iteritems():
    if df_avail["availability_365"][idx] == 0 and df_avail['number_of_reviews'][idx] >= 100:
        answer[i] = f'Number of reviews are: {df_avail["number_of_reviews"][idx]}. '

answer

{'MaryEllen': 'Number of reviews are: 118. ',
 'Christiana': 'Number of reviews are: 168. ',
 'Sol': 'Number of reviews are: 193. ',
 'Coral': 'Number of reviews are: 114. ',
 'Doug': 'Number of reviews are: 206. ',
 'Ori': 'Number of reviews are: 205. ',
 'Lissette': 'Number of reviews are: 147. ',
 'Liz And Melissa': 'Number of reviews are: 131. ',
 'Ivy': 'Number of reviews are: 115. ',
 'Jsun': 'Number of reviews are: 205. ',
 'Wanda': 'Number of reviews are: 480. ',
 'Ben': 'Number of reviews are: 125. ',
 'S': 'Number of reviews are: 233. ',
 'Adrienne': 'Number of reviews are: 143. ',
 'Lydia': 'Number of reviews are: 107. ',
 'Karin': 'Number of reviews are: 101. ',
 'Elle': 'Number of reviews are: 157. ',
 'James': 'Number of reviews are: 320. ',
 'Jon': 'Number of reviews are: 116. ',
 'Liz': 'Number of reviews are: 128. ',
 'Jeanine': 'Number of reviews are: 109. ',
 'Lorena': 'Number of reviews are: 178. ',
 'Ron': 'Number of reviews are: 117. ',
 'Dragan': 'Number of reviews are: 304. ',
 'Misty': 'Number of reviews are: 179. ',
 'Brian': 'Number of reviews are: 105. ',
 'Natalie': 'Number of reviews are: 119. ',
 'AJ And Freddy': 'Number of reviews are: 164. ',
 'Neil & Katie': 'Number of reviews are: 237. ',
 'Emily': 'Number of reviews are: 113. ',
 'Evelyn': 'Number of reviews are: 185. ',
 'Alvaro': 'Number of reviews are: 108. ',
 'Bernard': 'Number of reviews are: 145. ',
 'Sarah': 'Number of reviews are: 163. ',
 'Karen': 'Number of reviews are: 248. ',
 'Summer': 'Number of reviews are: 179. ',
 'William': 'Number of reviews are: 148. ',
 'Andy & Friends': 'Number of reviews are: 120. ',
 'Karece': 'Number of reviews are: 130. ',
 'Ehren': 'Number of reviews are: 189. ',
 'Nicole': 'Number of reviews are: 130. ',
 'Terri': 'Number of reviews are: 116. ',
 'Ravanna': 'Number of reviews are: 220. ',
 'Molly': 'Number of reviews are: 144. ',
 'Lane': 'Number of reviews are: 183. ',
 'Angelo': 'Number of reviews are: 112. ',
 'DeLex': 'Number of reviews are: 107. ',
 'Michelle': 'Number of reviews are: 202. ',
 'Katarina': 'Number of reviews are: 146. ',
 'Véronique': 'Number of reviews are: 196. ',
 'Andreas': 'Number of reviews are: 176. ',
 'Caroline': 'Number of reviews are: 119. ',
 'Michael': 'Number of reviews are: 181. ',
 'Aurea': 'Number of reviews are: 121. ',
 'Kent': 'Number of reviews are: 191. ',
 'Brendan': 'Number of reviews are: 112. ',
 'Jillian': 'Number of reviews are: 180. ',
 'Deanna': 'Number of reviews are: 103. ',
 'Jake': 'Number of reviews are: 101. ',
 'Emily And Joel': 'Number of reviews are: 184. ',
 'George & Diana': 'Number of reviews are: 112. ',
 'Veronica': 'Number of reviews are: 351. ',
 'Masha': 'Number of reviews are: 103. ',
 'Danielle': 'Number of reviews are: 103. ',
 'Jeremy': 'Number of reviews are: 166. ',
 'Kyle': 'Number of reviews are: 318. ',
 'Stacey': 'Number of reviews are: 163. ',
 'Sasha': 'Number of reviews are: 171. ',
 'Nick': 'Number of reviews are: 149. ',
 'Carlina': 'Number of reviews are: 205. ',
 'Taylor & Tee': 'Number of reviews are: 131. ',
 'Devin': 'Number of reviews are: 108. ',
 'Ame': 'Number of reviews are: 153. ',
 'Richard': 'Number of reviews are: 104. ',
 'Micah': 'Number of reviews are: 143. ',
 'Elliott': 'Number of reviews are: 126. ',
 '正川': 'Number of reviews are: 151. ',
 'Chao': 'Number of reviews are: 115. ',
 'Pj': 'Number of reviews are: 107. ',
 'Lou': 'Number of reviews are: 108. ',
 'Ingrid': 'Number of reviews are: 142. ',
 'Graham': 'Number of reviews are: 151. ',
 'Gurpreet  Singh': 'Number of reviews are: 106. ',
 'Jimmy': 'Number of reviews are: 182. ',
 'Catrina': 'Number of reviews are: 117. ',
 'Long': 'Number of reviews are: 202. ',
 'Deborah': 'Number of reviews are: 141. ',
 'Hayes': 'Number of reviews are: 194. ',
 'Evan': 'Number of reviews are: 150. ',
 'Sofia': 'Number of reviews are: 207. ',
 'Antonia': 'Number of reviews are: 151. ',
 'Margarita': 'Number of reviews are: 128. ',
 'Abraham': 'Number of reviews are: 100. ',
 'Alex': 'Number of reviews are: 137. ',
 'Qiyao': 'Number of reviews are: 111. ',
 'Cedrick': 'Number of reviews are: 148. ',
 'Greg': 'Number of reviews are: 107. ',
 'Chelsea': 'Number of reviews are: 112. ',
 'Kc': 'Number of reviews are: 255. ',
 'Edward': 'Number of reviews are: 134. ',
 'Lasata': 'Number of reviews are: 188. ',
 'Krysta': 'Number of reviews are: 120. ',
 'Maeve': 'Number of reviews are: 131. ',
 'Erin': 'Number of reviews are: 119. ',
 'Trevor': 'Number of reviews are: 125. ',
 'Giovanni': 'Number of reviews are: 169. ',
 'Anthony': 'Number of reviews are: 142. ',
 'Chadanut': 'Number of reviews are: 103. ',
 'Dante': 'Number of reviews are: 204. ',
 'Braydon': 'Number of reviews are: 100. ',
 'Gillian': 'Number of reviews are: 149. ',
 'Fred': 'Number of reviews are: 126. ',
 'Maba': 'Number of reviews are: 147. ',
 'Steven': 'Number of reviews are: 117. ',
 'Marisha': 'Number of reviews are: 100. ',
 'Felipe': 'Number of reviews are: 105. ',
 'Airamis': 'Number of reviews are: 114. ',
 'Anna': 'Number of reviews are: 101. ',
 'Raymond': 'Number of reviews are: 100. ',
 'Gabriela': 'Number of reviews are: 153. ',
 'Kaka': 'Number of reviews are: 122. ',
 'Benjamin': 'Number of reviews are: 179. ',
 'Jo & Savannah': 'Number of reviews are: 114. ',
 'J': 'Number of reviews are: 139. ',
 'Alexandra': 'Number of reviews are: 124. ',
 'Mohamed': 'Number of reviews are: 115. ',
 'Deloris': 'Number of reviews are: 368. ',
 'Megan E': 'Number of reviews are: 104. ',
 'Yuval': 'Number of reviews are: 144. ',
 'Marcelo': 'Number of reviews are: 110. ',
 'Jie': 'Number of reviews are: 105. ',
 'Sam': 'Number of reviews are: 172. ',
 'Andrew': 'Number of reviews are: 144. ',
 'Ash': 'Number of reviews are: 104. ',
 'Jenifer': 'Number of reviews are: 108. ',
 'Louise': 'Number of reviews are: 154. ',
 nan: 'Number of reviews are: 109. ',
 'Kathleen': 'Number of reviews are: 103. ',
 'Janet': 'Number of reviews are: 119. ',
 'Albert': 'Number of reviews are: 102. ',
 'Stephany': 'Number of reviews are: 131. ',
 'Mariluz': 'Number of reviews are: 112. '}

In [134]:
# What host has the highest total of prices and where are they located?


df_newer_total = air_bnb[["host_name", "price", "neighbourhood"]]

df_new_total = air_bnb["host_name"].unique()


df_newer_total_price = (df_newer_total.groupby("neighbourhood").price.apply(lambda g: g.sum()))
df_newest = df_newer_total[0:0]
df_newer_total_price

neighbours = {}
prices = {}
iterations = 0

for idx, i in df_newer_total_price.iteritems():
    neighbours[iterations] = idx
    prices[iterations] = i
    iterations += 1

    


for idx, i in enumerate(df_newer_total_price):
    df_newest = df_newest.append({
        'host_name': df_new_total[idx],
        'price': prices[idx],
        'neighbourhood': neighbours[idx]},
        ignore_index = True
    )

checker = 0
winnner = {}
for idx, i in enumerate(df_newest['price']):
    if i > checker:
        checker = i
        winner = {
            'Name': df_newest["host_name"][idx],
            'Price': checker,
            'Neighbourhood': df_newest["neighbourhood"][idx]
        }

winner

# Answer is {'Name': 'Kristian & Di', 'Price': 563707, 'Neighbourhood': 'Williamsburg'}

AttributeError: 'DataFrame' object has no attribute 'pd'

563707

In [198]:
# When did Danielle from Queens last receive a review?
import re

danielle = air_bnb[["host_name", "last_review"]]

# danielle= danielle[pd.to_numeric(danielle['last_review'], errors='coerce').notnull()]



danielle = danielle.dropna()
# danielle = danielle['host_name'].drop_duplicates

checker = 0
indexer = 0
from datetime import datetime
import _strptime as strptime

# danielle['last_review'] = pd.to_datetime(danielle['last_review'])
# danielle['last_review'].dtypes
date = dict()

for idx, i in enumerate(danielle['last_review']):
    date[idx] = i

for idx, i in enumerate(danielle["host_name"]):
    if i == "Danielle":
        if int(date[idx][0:4]) > checker:
            checker = date[idx][0:4]
            indexer = idx

print(f'Danielles latest login was {date[indexer]}')

# print(Column_A)
# date
# danielle

TypeError: '>' not supported between instances of 'int' and 'str'

## Further Questions

1. Which host has the most listings?

'2019-06-172019-06-17'

2. How many listings have completely open availability?

3. What room_types have the highest review numbers?

# Final Conclusion

In this cell, write your final conclusion for each of the questions asked.

Also, if you uncovered some more details that were not asked above, please discribe them here.

-- Add your conclusion --